body {
   font-family: Arial;
    background: url(https://ylianova.ru/800/600/https/otvet.imgsmail.ru/download/29919313_07e6a55cb0968f0d90c4c57d14b26e6c_800.png);
    background-size: contain;
    background-attachment: fixed;
    color: #fff;
}

body:hover {
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
width: 800px;
    padding: 50px;
    margin: 0 auto;
    background: rgba(227, 227, 227, 0.35);
}

.exe {    
    color: azure;
    background: #f5ff00;
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 15px;
}

.exe:hover {
      cursor: pointer;
    background: red;
}